.aspan {
  font-size: 36px;
}

.titleInput {
  background-color: var(--matrix-header-field);
  padding: 12px;
  border: solid 1px var(--number-box-border-color);
  border-radius: 2px;
  min-width: 500px;
  display: inline;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: 2rem;
}

.styledSubmitButton {
  z-index: 10000;
  margin-top: 55px;
  margin-left: 10px;
  min-width: 50px;
  width: fit-content;
  /* width: fit-content; */
  height: 19px;
  border: 1px solid var(--submit-button-border);
  padding: 10px;
  border-radius: var(--number-box-border-radius);
  color: white;
  background-color: var(--submit-button-background);
}

.styledSubmitButton:hover {
  background-image: revert;
  background-color: var(--hover-button-color);
  color: white;
}

.styledSubmitButton:active {
  background-color: var(--active-button-color);
  color: white;
}

.titleSpan {
  cursor: pointer;
}

.titleBox {
  background-color: var(--matrix-header-field);
  padding: 12px;
  border: solid 1px var(--number-box-border-color);
  border-radius: 2px;
  min-width: 500px;
  margin-bottom: 10px;
  display: inline;
}

.styledHeader {
  text-align: left;
}

.tableWrapper {
  margin-left: -150px;
  padding-top: 13px;
}

.verticalSpace {
  min-height: 50px;
}

.wrapper {
  margin-left: 10px;
  margin-top: 10px;
  z-index: 10;
}

.headerDiv {
  align-self: flex-start;
  padding-left: 300px;
}

.flexColumnWrapper {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* align-items: center; */
  /* background-color: hsl(240, 40%, 90%); */
  margin-left: 0px;
}

.styledSVG {
  cursor: pointer;
}

.preview {
  margin-left: 15px;
}

.table {
  background-color: var(--user-history-cell-background);
  border-collapse: collapse;
  border: 1.5px solid var(--mini-number-box-border-color);
  width: fit-content;
  margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 300px;
}

.tdWrapper {
  border: 1px solid var(--mini-number-box-border-color);
  padding: 8px;
}

.permalink {
  text-decoration: none;
  padding-left: 20px;
}

.permalink:visited {
  color: blue;
  text-decoration: none;
}

.miniNumberBoxWrapper {
  position: relative;
  display: inline-block;
  background-color: var(--mini-number-box-background-color);
  border-radius: var(--mini-number-box-border-radius);
  min-width: var(--mini-number-box-width);
  height: var(--mini-number-box-height);
  margin: 1px;
  border: 1px solid var(--mini-number-box-border-color);
  z-index: 1;
  /* padding: 10%; */
}

.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  color: var(--mini-number-box-font-color);
  width: 100%;
  height: 100%;
}

.innerElement {
  width: fit-content;
}

.matrixTable {
  border-spacing: 0px;
  border-collapse: collapse;
}

.matrixCell {
  border: 1px solid var(--number-box-border-color);
  min-width: 60px;
  height: 50px;
  text-align: center;
}
