NEXT_PUBLIC_MATRIX_URL=https://yar08qypp7.execute-api.us-east-1.amazonaws.com/dev/
NEXT_PUBLIC_MATRIX_URL_AUTH=https://31mb8vbzh2.execute-api.us-east-1.amazonaws.com/dev/
NEXT_PUBLIC_API_KEY=your-api-key-here
NEXT_PUBLIC_USER_POOL_ID=your-user-pool-id
NEXT_PUBLIC_USER_POOL_CLIENT_ID=your-user-pool-client-id
