.flexWrapper {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 10px;
}

.navItem {
  background-color: var(--number-box-background-color);
  color: var(--number-box-font-color);
  border-left: 1px solid var(--number-box-border-color);
  border-bottom: 1px solid var(--number-box-border-color);
  border-right: 1px solid var(--number-box-border-color);
  display: flex;
  padding: 2px 6px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.navItem:hover {
  background-color: var(--number-box-border-color);
  color: white;
}

.navItem a {
  text-decoration: none;
  color: inherit;
}

.navLink {
  background-color: var(--number-box-background-color);
  color: var(--number-box-font-color);
  border-left: 1px solid var(--number-box-border-color);
  border-bottom: 1px solid var(--number-box-border-color);
  border-right: 1px solid var(--number-box-border-color);
  display: flex;
  padding: 2px 6px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navLink:hover {
  background-color: var(--number-box-border-color);
  color: white;
}
